.idea-list {
}

.idea-container {
	display: flex;
	align-items: stretch;

	padding: 0;
	gap: 0;
	border-radius: var(--tui-radius-s);

	img {
		height: 100px;
	}
}

.idea-name {
	font-size: 1.25rem;
}

.rating {
	display: inline-flex;
	align-items: center;

	.rating-icon + .rating-icon {
		transform: translateX(-0.25rem);
	}
}

.rating-icon {
	width: 1.4em;
	height: 1.4em;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 0.25rem;
}

.submit-button {
	height: 100%;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
