<div tuiHeader="l" class="mb-6">
	<h3 tuiTitle>Mes recettes</h3>
</div>

<div class="flex flex-col gap-4 idea-list">
	@if (isLoading()) {
	<div class="h-[100px] w-full" *tuiRepeatTimes="let index of 3" [tuiSkeleton]="true"></div>
	} @for (idea of ideas(); track idea.name) {
	<div tuiSurface="elevated" class="idea-container" (click)="useIdea(idea)">
		@if (idea.image) {
		<a
			[href]="idea.notionPageDeeplink"
			target="_blank"
			class="w-1/4"
			(click)="$event.stopPropagation()"
		>
			<img
				[alt]="idea.name"
				[src]="idea.image"
				[style.border-radius.rem]="0.5"
				class="object-cover"
			/>
		</a>
		}

		<div class="grow px-4 py-4 flex items-center gap-4">
			<div class="grow flex flex-col flex-wrap gap-[0.15rem]">
				<div>
					<a
						class="idea-name"
						[href]="idea.notionPageDeeplink"
						target="_blank"
						(click)="$event.stopPropagation()"
					>
						{{ idea.name }}
					</a>
					<span class="rating text-sm ml-2">
						@if (idea.rating > 0) {
						<span
							class="rating-icon bg-green-100"
							*tuiRepeatTimes="let index of idea.absoluteRating"
						>
							👍
						</span>
						} @else {
						<span
							class="rating-icon bg-red-100"
							*tuiRepeatTimes="let index of idea.absoluteRating"
						>
							👎
						</span>
						}
					</span>
				</div>

				<div class="flex items-center gap-2">
					@for (tag of idea.tags; track tag.name) {
					<tui-tag
						status="custom"
						[hoverable]="false"
						[value]="tag.name"
						[ngStyle]="{
							'background-color': tag.color,
							color: '#fff' | toReadableTextColor : tag.color : 'decorative' : '#000'
						}"
					></tui-tag>
					}
				</div>

				@if (idea.url) {
				<a class="text-gray-500" [href]="idea.url">{{ idea.url | urlPreview }}</a>
				}
			</div>
		</div>

		<div class="shrink-0 grow-0 aligner">
			<button
				class="submit-button"
				appearance="secondary"
				size="s"
				tuiIconButton
				icon="tuiIconChevronsRight"
				type="button"
				(click)="useIdea(idea)"
			></button>
		</div>
	</div>
	}
</div>
