<div class="flex flex-col gap-8" (tuiSwipe)="onSwipe($event)">
	<div class="tui-text_h3">Échanger ces menus ?</div>

	<div>
		<div class="aligner flex-col sm:flex-row">
			<ng-container
				*ngTemplateOutlet="mealPreview; context: { meal: data.from }"
			></ng-container>
			<div class="arrow">
				<mat-icon>compare_arrows</mat-icon>
			</div>
			<ng-container
				*ngTemplateOutlet="mealPreview; context: { meal: data.to }"
			></ng-container>
		</div>
	</div>

	<div class="flex justify-end items-center gap-4 flex-wrap">
		<button tuiButton appearance="secondary" (click)="cancel()">Annuler</button>
		<button tuiButton appearance="primary" iconLeft="tuiIconShuffle" (click)="swap()">
			Échanger les menus
		</button>
	</div>
</div>

<ng-template #mealDateLabel let-meal="meal">
	{{ meal.date | date: 'EEEE d MMM' | titlecase }}&nbsp;
	<mat-icon *ngIf="meal.type === 'lunch'" style="color: #fff900"> light_mode </mat-icon>
	<mat-icon *ngIf="meal.type === 'dinner'" style="color: #41658a"> dark_mode </mat-icon>
</ng-template>

<ng-template #mealPreview let-meal="meal">
	<div class="meal">
		<div class="day">
			<ng-container *ngTemplateOutlet="mealDateLabel; context: { meal: meal }"></ng-container>
		</div>
		<div class="name" *ngIf="meal.name; else noNameTpl">
			{{ meal.name }}
		</div>
		<ng-template #noNameTpl>
			<div class="no-name">Rien de prévu</div>
		</ng-template>

		<tui-island class="selected-recipe" *ngIf="meal.jowRecipe as jowRecipe">
			<div class="flex flex-col items-center" [style.color]="jowRecipe.backgroundColor">
				<img
					class="preview"
					[src]="constructAssetUrl(jowRecipe.imageUrl)"
					[alt]="jowRecipe.title"
					tuiRipple
				/>
				<div class="title">{{ jowRecipe.title }}</div>
			</div>
		</tui-island>
	</div>
</ng-template>
