:host {
	display: contents;
}

.app-bar {
	@apply p-4 bg-inherit;
	height: 4rem !important;

	$borderColor: rgb(255 193 228 / 100%);

	color: $borderColor;

	@media (max-width: 599px) {
		@apply sticky top-0 z-10;
		background-color: #fff4fa;
		box-shadow: 0 0 5px $borderColor;
	}

	@media (min-width: 600px) {
		border-bottom: 1px solid $borderColor;
	}
}
.app-title {
	$appTitleSize: 32px;
	display: flex;
	align-items: center;
	gap: 0.2em;

	font-family: 'Dancing Script', cursive;
	font-size: $appTitleSize;

	img {
		$imgSize: $appTitleSize * 0.75;
		height: $imgSize;
		width: $imgSize;
	}
}

.avatar {
	$avatar-size: 25px;
	height: $avatar-size;
	width: $avatar-size;
	border-radius: 50%;
	object-fit: cover;

	cursor: pointer;
	border: 1px solid white;
	float: right;
	margin: 0 5px;

	&:not(.has-photo) {
		border: 1px solid #9b9a93;
	}

	transition: box-shadow 0.25s;
	&:hover {
		box-shadow: 0 0 7px 0 rgb(0 0 0 / 25%);
	}
}

.family-name {
	font-weight: bold;
	color: #ff4081;
}

.featurettes {
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@media (max-width: 599px) {
		display: none;
	}
}
.weather {
	display: flex;
	align-items: center;
}
.weather-icon {
	width: 50px;
}
