<div fxLayout="column" fxLayoutAlign="center center">
	<div class="app-name">
		<img src="assets/logo.svg" alt="MoumouPad logo" width="140px" height="140px" />
		MoumouPad
	</div>
	<div
		id="g_id_onload"
		data-client_id="377875750295-gdgro2bk7b7r0dp6evuc7ag94l02r4dj.apps.googleusercontent.com"
		data-context="signin"
		data-ux_mode="popup"
		data-callback="login()"
		data-auto_prompt="false"
	></div>

	<div
		#googleSignInButton
		class="g_id_signin"
		data-type="standard"
		data-shape="pill"
		data-theme="filled_blue"
		data-text="signin_with"
		data-size="large"
		data-locale="fr"
		data-logo_alignment="left"
	></div>
</div>
