:root {
	--primary-50: #eff8ff;
	--primary-100: #dbedfe;
	--primary-200: #bde0fe;
	--primary-300: #93cffd;
	--primary-400: #60b3fa;
	--primary-500: #3b94f6;
	--primary-600: #2576eb;
	--primary-700: #1d60d8;
	--primary-800: #1e4eaf;
	--primary-900: #1e448a;

	--accent-50: #fef1f6;
	--accent-100: #fee5ee;
	--accent-200: #feccdf;
	--accent-300: #ffafcc;
	--accent-400: #fe689b;
	--accent-500: #f83c77;
	--accent-600: #e81a51;
	--accent-700: #ca0c39;
	--accent-800: #a70d2f;
	--accent-900: #8b102b;

	--light-background: #f9fafbff;
	--dark-background: #2f2f2fff;
}

$primary-50: var(--primary-50);
$primary-100: var(--primary-100);
$primary-200: var(--primary-200);
$primary-300: var(--primary-300);
$primary-400: var(--primary-400);
$primary-500: var(--primary-500);
$primary-600: var(--primary-600);
$primary-700: var(--primary-700);
$primary-800: var(--primary-800);
$primary-900: var(--primary-900);

$accent-50: var(--accent-50);
$accent-100: var(--accent-100);
$accent-200: var(--accent-200);
$accent-300: var(--accent-300);
$accent-400: var(--accent-400);
$accent-500: var(--accent-500);
$accent-600: var(--accent-600);
$accent-700: var(--accent-700);
$accent-800: var(--accent-800);
$accent-900: var(--accent-900);

$light-background: var(--light-background);
$dark-background: var(--dark-background);
