.light {
	font-weight: 200;
}
.semi-light {
	font-weight: 300;
}
.normal {
	font-weight: normal;
}
.semi-bold {
	font-weight: 500;
}
.bold {
	font-weight: bold;
}
.regular-case {
	text-transform: none !important;
}
.small {
	font-size: small;
}
.smaller {
	font-size: smaller;
}
.large {
	font-size: large;
}
.larger {
	font-size: larger;
}
.float-right {
	float: right;
}
.text-ellipsis {
	$overflow: hidden;
	text-overflow: ellipsis;
}
.cursor-pointer:hover {
	cursor: pointer;
}
.eyes-only {
	cursor: default;
	user-select: none;
}
.strikethrough {
	text-decoration: line-through;
}
.italic {
	font-style: italic;
}
.width-100 {
	width: 100%;
}
.hidden-opacity {
	opacity: 0;
}
.visible-opacity {
	opacity: 1;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;

	color: rgb(0 0 0 / 50%);
	text-transform: uppercase;
	font-size: 12px;
	user-select: none;

	&::before,
	&::after {
		content: '';
		flex: 1;
		border-bottom: 1px solid rgb(0 0 0 / 11%);
	}

	&:not(:empty)::before {
		margin-right: 0.25em;
	}

	&:not(:empty)::after {
		margin-left: 0.25em;
	}
}
