<div
	fxLayout="column nowrap"
	fxLayoutAlign="start"
	class="container"
	[class.has-margins]="hasMargins"
	#container
>
	<div class="topper" fxLayoutAlign="center center">
		<div fxFlex="33%" class="relative">
			<span class="is-next" *ngIf="isNext$ | async">prochain</span>
		</div>
		<div fxFlex="1 0 auto" fxLayout="row-reverse" fxLayoutAlign="center">
			<!--cdkDropList
			#dropListRef="cdkDropList"
			[cdkDropListData]="meal"
			[cdkDropListEnterPredicate]="canEnter"
			(cdkDropListDropped)="onDrop($event)"
			(cdkDropListEntered)="onEnter()"-->
			<div
				class="day"
				[class.waiting-for-swap]="dragDropService.dragging$ | async"
				[class.cannot-drop]="cannotDropHere$ | async"
				[tuiHint]="showFullDateInTopper ? '' : (meal.date | date: 'EEEE dd MMMM') || '🤷‍♂️'"
			>
				<!--cdkDrag
				[cdkDragData]="meal"
				(cdkDragStarted)="onDragStart()"
				(cdkDragEnded)="onDragEnd()"
				cdkDragPreviewClass="dragging"
				cdkDragPreviewContainer="parent"-->
				<ng-container *ngIf="showFullDateInTopper; else defaultTopperDateTpl">
					{{ meal.date | date: 'EEEE dd MMMM' | titlecase }}&nbsp;
				</ng-container>
				<ng-template #defaultTopperDateTpl>
					{{ meal.date | date: 'EEEE' | titlecase }}&nbsp;
				</ng-template>
				<mat-icon *ngIf="meal.type === 'lunch'" style="color: #fff900">
					light_mode
				</mat-icon>
				<mat-icon *ngIf="meal.type === 'dinner'" style="color: #41658a">
					dark_mode
				</mat-icon>
			</div>
		</div>
		<div fxFlex="33%" fxLayoutAlign="end center" fxLayoutGap="10px" class="icons">
			<div *ngIf="meal.extras?.prepared" tuiHint="Repas préparé">✅</div>
			<div *ngIf="meal.recipeMemo" tuiHint="Note">📝</div>
			<div *ngIf="meal.extras?.croquettes" tuiHint="Jour de croquettes">🐱</div>
		</div>
	</div>
	<div
		class="meal"
		[class.empty]="!meal.name"
		[class.out-of-home]="!!meal.extras?.outOfHome"
		[class.has-jow-recipe]="!!meal.jowRecipe"
		[class.has-theme]="!!(mealTheme$ | async)"
		[class.has-theme-background]="!!(themeBackgroundImage$ | async)"
		[class.open]="(editMode$ | async) || editMode"
		[style.background-image]="themeBackgroundImage$ | async"
		[style.background-color]="meal.jowRecipe?.smartColor || (mealTheme$ | async)?.color"
		[style.box-shadow]="themeBoxShadow$ | async"
	>
		<div
			class="color-overlay"
			[style.background-color]="meal.jowRecipe?.smartColor || (mealTheme$ | async)?.color"
		></div>
		<div class="overlay"></div>
		<div fxLayoutAlign (click)="toggleEdit()" ngxVibration="10" tuiRipple="skyblue">
			<div
				class="header-container"
				*ngFor="
					let header of headers$ | async;
					let headerIndex = index;
					trackBy: trackByIndex
				"
			>
				<div
					class="header"
					[class.has-jow-recipe]="header?.jowRecipe"
					[class.has-theme]="!!(mealTheme$ | async)"
					fxLayoutAlign="space-between center"
				>
					<div>
						<div fxLayout="column">
							<div class="tui-text_body-l tui-text_bold">
								<ng-container *ngIf="header?.name; else noMealTpl">
									{{ header?.name }}
								</ng-container>
								<ng-container *ngIf="headerIndex === 0">
									{{ themeEmoji$ | async }}
								</ng-container>
								<ng-template #noMealTpl>
									<div class="no-meal-title">Aucun plat</div>
								</ng-template>
							</div>
						</div>
					</div>
					<div
						fxLayoutAlign="end center"
						fxLayoutGap="10px"
						fxFlex="noshrink"
						class="icons"
					>
						@if (meal.extras?.freezer) {
							<div>❄️</div>
						}
						@if (!meal.name) {
							<mat-icon>add_circle</mat-icon>
						}
					</div>
				</div>
			</div>
		</div>
		<div>
			<div *ngIf="(editMode$ | async) || editMode" [@expandOnEnter] [@collapseOnLeave]>
				<div class="form-container">
					<!--<cb-meal-form
						[meal]="meal"
						[isReadonly]="isReadonly"
						(mealSaved)="afterSave()"
					></cb-meal-form>-->
				</div>
			</div>
		</div>
	</div>
</div>
