<div fxLayout="column nowrap" fxLayoutAlign="start" class="container">
	<div
		class="day"
		fxLayoutAlign="center center"
		matRipple
		[matTooltip]="(meal.date | date: 'EEEE dd MMMM') || '🤷‍♂️'"
	>
		<div>
			{{ meal.date | date: 'EEEE' | titlecase }}&nbsp;{{
				meal.type === 'lunch' ? '🔆' : '🌙'
			}}
		</div>
	</div>
	<mat-card
		class="meal"
		[class.empty]="!meal.name"
		[class.has-jow-recipe]="!!meal.jowRecipe"
		[class.open]="editMode"
		[style.background-image]="
			meal.jowRecipe?.imageUrl
				? 'url(\'' + jowService.constructAssetUrl(meal.jowRecipe!.imageUrl) + '\')'
				: ''
		"
		[style.background-color]="meal.jowRecipe?.backgroundColor"
	>
		<div class="overlay"></div>
		<mat-card-header
			class="header"
			fxLayoutAlign="space-between center"
			(click)="toggleEdit()"
			matRipple
		>
			<mat-card-title>
				<ng-container *ngIf="meal?.name; else noMealTpl">
					{{ meal?.name }}
				</ng-container>
				<ng-template #noMealTpl>
					<div class="no-meal-title">Aucun plat</div>
				</ng-template>
			</mat-card-title>
			<div fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="noshrink" class="icons">
				<!--<div
					*ngIf="meal.jowRecipeId"
					fxLayoutAlign="center center"
					style="filter: brightness(1.3)"
				>
					<mat-icon svgIcon="jow"></mat-icon>
				</div>-->
				<div *ngIf="meal.extras?.croquettes">🐱</div>
				<div *ngIf="meal.extras?.freezer">❄️</div>
				<button mat-icon-button *ngIf="!meal.name">
					<mat-icon>add_circle</mat-icon>
				</button>
			</div>
		</mat-card-header>
		<mat-card-content>
			<div *ngIf="editMode" [@expandOnEnter] [@collapseOnLeave]>
				<div class="form-container">
					<cb-meal-form [meal]="meal" (mealSaved)="afterSave()"></cb-meal-form>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
