@import '../../../styles/colors';

$meal-color: $primary;

.container {
	margin: min(20px, 1.5vh) 0;
}

.meal {
	background-color: $meal-color;
	&.empty {
		background-color: lighten($meal-color, 30%);
	}
	position: relative;
	padding: 10px 25px;
	border-radius: 0;
	@media (min-width: 600px) {
		border-radius: 7px;
	}

	.header {
		color: white;
		padding: 0 5px;
		border-radius: 5px;

		&:hover {
			cursor: pointer;
		}

		::ng-deep .mat-card-title {
			margin: 0;
		}
	}

	.form-container {
		border-radius: 5px;
		padding: 30px;
		margin: 10px 0 15px;
		background-color: lighten($meal-color, 50%);
	}
}

.day {
	width: fit-content;
	align-self: center;
	background-color: #6edea2;
	color: white;
	border-radius: 5px 5px 0 0;
	padding: 0.25em 0.5em;
	letter-spacing: 0.15em;
}

.no-meal-title {
	font-style: italic;
	opacity: 0.5;
}
