<form [formGroup]="form" (ngSubmit)="saveMeal()">
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Nom du plat</mat-label>
		<input matInput placeholder="Poulet poivrons, huevos rotos..." formControlName="name" />
		<mat-icon matSuffix class="clear-icon" (click)="form.get('name')?.reset()">clear</mat-icon>
	</mat-form-field>

	<div fxLayoutAlign="center">
		<button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
			{{ meal?.name ? 'Modifier' : 'Enregistrer' }}
		</button>
	</div>

	<mat-divider style="margin: 20px 0; position: initial"></mat-divider>

	<div fxLayout="column" fxLayoutAlign="center center">
		<div style="font-size: large">Quelques idées de recettes Jow</div>
		<div
			class="suggestions"
			fxLayout="row wrap"
			fxLayoutAlign="center center"
			fxLayoutGap="10px"
		>
			<div *ngFor="let recipe of recipeIdeas$ | async">
				{{ recipe.description }}
			</div>
		</div>
	</div>
</form>
