@import '../../../../styles/colors.less';

.clear-icon {
	&:hover {
		cursor: pointer;
	}
}

.extras {
	tui-chip {
		font-weight: 500;
	}

	.mat-standard-chip:focus::after {
		opacity: 0;
	}

	.buttons {
		button {
			display: flex;
			justify-content: center;
			align-items: center;

			@size: 18px;
			height: @size;
			width: @size;
			padding: 1em;

			::ng-deep mat-icon {
				font-size: @size;
			}
		}

		tui-chip {
			font-size: 12px;
			padding: 0.5em;
			border-radius: 5px;
			box-shadow: none;

			input {
				border-radius: 5px;
			}

			mat-icon {
				font-size: 18px;
				height: 1em;
				width: 1em;
			}

			&.enabled {
				background-color: #61d346;
				color: white;
			}
			&.out-of-home-enabled {
				background-color: #ff4081;
				color: white;
			}
		}
	}
}

.form-actions {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0 2px 0 2px ghostwhite;
	background: ghostwhite;
	z-index: 2;

	border-top: 1px solid;
	@apply mt-6 mb-2 border-gray-200;
}

.memo {
	@color: #f5e56b;
	padding: 20px 30px;
	background-color: @color;
	transform: rotate(359deg);
	border-radius: 2px;
	box-shadow: 1px 4px 3px 0 rgb(0 0 0 / 12%);
	cursor: pointer;
	line-height: 1.5em;

	font-family: 'Permanent Marker', cursive;
	letter-spacing: 1px;
	word-break: break-all;
	color: #303030;

	::ng-deep a {
		font-family: monospace;
		letter-spacing: normal;
	}

	transition: background-color 0.33s;

	&:hover {
		background-color: darken(@color, 10%);
	}
}

.emoji-button {
	@apply !text-xl border border-gray-300;
	padding: 0 5px;
	border-radius: 5px;

	&.selected {
		@apply bg-yellow-300;
	}
}
