<form [formGroup]="form" (ngSubmit)="saveMeal()">
	<div class="flex flex-col gap-6">
		<div class="flex">
			<div class="grow">
				<tui-input
					formControlName="name"
					[tuiTextfieldCleaner]="true"
					class="meal-name-input"
				>
					Nom du plat
					<input
						placeholder="Poulet poivrons, huevos rotos..."
						tuiTextfield
						autocomplete="off"
					/>

					<tui-data-list-wrapper
						*tuiDataList
						emptyContent="Aucun résultat"
						size="xs"
						[items]="(nameSuggestions$ | async) ?? [] | tuiFilterByInput"
					></tui-data-list-wrapper>
				</tui-input>
			</div>
			<div class="shrink-0">
				<button
					type="button"
					tuiIconButton
					appearance="secondary"
					size="s"
					(click)="openMealIdeasDialog()"
					class="meal-ideas-button"
				>
					<mat-icon>bookmark_heart</mat-icon>
				</button>
			</div>
		</div>

		@if (jowRecipe) {
			<cb-recipe-card
				[jowRecipe]="jowRecipe"
				[isReadonly]="isReadonly"
				(openRecipeModal)="openRecipeModal(jowRecipe)"
				(removeRecipe)="onRecipeRemoved()"
			></cb-recipe-card>
		}

		@if (!jowRecipe && !isReadonly) {
			<cb-recipe-explorer
				(selectRecipe)="onRecipeSelected($event)"
				(openRecipeModal)="openRecipeModal($event)"
			></cb-recipe-explorer>
		}

		@if (getRecipeMemo(); as memo) {
			<div
				class="memo mx-8 my-2"
				tuiRipple
				[innerHTML]="memo | renderRichText"
				(click)="openNoteDialog()"
			></div>
		}

		<div
			class="extras aligner-col gap-4"
			formGroupName="extras"
			[class.eyes-only-strict]="isReadonly"
		>
			<div class="aligner gap-3 flex-wrap">
				@for (emoji of emojis$ | async; track emoji.emoji) {
					<button
						type="button"
						class="emoji-button"
						[class.selected]="emoji.isSelected"
						(click)="toggleEmoji(emoji.emoji)"
						ngxVibration="2"
					>
						<span>{{ emoji.emoji }}</span>
					</button>
				}
				<mat-icon
					fontSet="material-icons-outlined"
					class="add-emoji ml-1"
					(click)="addEmoji()"
				>
					add_reaction
				</mat-icon>
			</div>
			<div class="buttons aligner gap-[10px]">
				<tui-chip
					[class.out-of-home-enabled]="extrasFg.controls.outOfHome.value"
					tuiHint="En dehors de la maison"
					appearance=""
				>
					<mat-icon>location_city</mat-icon>
					<input tuiChip type="checkbox" [formControl]="extrasFg.controls.outOfHome" />
				</tui-chip>

				@if (!this.getRecipeMemo()) {
					<tui-chip tuiHint="Ajouter un mémo" appearance="" (click)="openNoteDialog()">
						<mat-icon>edit_note</mat-icon>
						<input tuiChip type="checkbox" />
					</tui-chip>
				}

				<tui-chip
					*ngIf="meal?.name"
					[class.enabled]="extrasFg.controls.prepared.value"
					appearance=""
					[tuiHint]="
						extrasFg.controls.prepared.value
							? 'Marquer comme non préparé'
							: 'Marquer comme préparé'
					"
				>
					<mat-icon>task_alt</mat-icon>
					<input
						tuiChip
						type="checkbox"
						[formControl]="extrasFg.controls.prepared"
						[ngxVibration]="[10, 200, 50, 100, 50]"
					/>
				</tui-chip>
			</div>
		</div>
	</div>

	<div class="form-actions aligner" *ngIf="!isReadonly">
		<button tuiButton type="submit" [disabled]="form.invalid">Enregistrer mon menu</button>
	</div>
</form>
