<div class="user" *ngIf="angularFireAuth.user | async as user">
	<img
		class="avatar"
		[class.has-photo]="user.photoURL"
		[src]="user.photoURL || 'assets/user-icon-placeholder.png'"
		alt="User photo"
		[matMenuTriggerFor]="userMenu"
	/>
	<mat-menu #userMenu="matMenu">
		<button mat-menu-item disabled>
			<span>{{ user.displayName }}</span>
		</button>
		<button mat-menu-item routerLink="/settings">
			<mat-icon>settings</mat-icon>
			<span>Préférences</span>
		</button>
		<button mat-menu-item (click)="logout()">
			<mat-icon>logout</mat-icon>
			<span>Déconnexion</span>
		</button>
	</mat-menu>
</div>
<div><router-outlet></router-outlet></div>

<ng-template #swUpdateTpl>
	<div (click)="reloadApp()" class="cursor-pointer" matTooltip="Mettre à jour">
		Une mise à jour est disponible !
	</div>
</ng-template>
