@import '../styles/colors';

.avatar {
	$avatar-size: 35px;
	height: $avatar-size;
	width: $avatar-size;
	border-radius: 50%;
	object-fit: cover;

	cursor: pointer;
	border: 1px solid white;
	float: right;
	margin: 0 5px;

	&:not(.has-photo) {
		border: 1px solid #9b9a93;
	}

	transition: box-shadow 0.25s;
	&:hover {
		box-shadow: 0 0 7px 0 rgb(0 0 0 / 25%);
	}
}

.family-name {
	font-weight: bold;
	color: $accent;
	margin: 0.25em;
}

.featurettes {
	float: left;

	@media (max-width: 599px) {
		display: none;
	}
}
