@import '../styles/colors';
@import '../styles/theme';

.avatar {
	$avatar-size: 35px;
	height: $avatar-size;
	width: $avatar-size;
	border-radius: 50%;
	object-fit: cover;

	@apply outline-primary-400 outline-double outline-[5px] cursor-pointer;
	margin: 0 5px;

	transition: box-shadow 0.25s;
	&:hover {
		box-shadow: 0 0 17px 2px $primary-300;
	}
}

.family-name {
	font-weight: bold;
	color: $accent;
	margin: 0.25em;
}

.featurettes {
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@media (max-width: 599px) {
		display: none;
	}
}
.weather {
	display: flex;
	align-items: center;
}
.weather-icon {
	width: 50px;
}
