.title {
	font-size: 37px;
	font-weight: 300;
	text-align: center;
	margin: 15px 0 5px 0;
	font-family: 'Dancing Script', cursive;

	@media (max-width: 599px) {
		margin: 15px 0 5px 0;
	}
}

.meals-container {
	height: 80vh;

	@media (max-width: 599px) {
		margin-top: 15px;

		& > *:nth-child(2n) {
			margin-bottom: min(40px, 5vh);
		}
	}
}

::ng-deep cb-meal.meal {
	margin: 0 20px;
	flex: 40%;

	@media (max-width: 599px) {
		margin: 0;
		flex: 100%;
	}
}
