<div (tuiSwipe)="onSwipe($event)" class="pb-12">
	<cb-week-navigation />

	<ng-container cdkDropListGroup>
		<div
			class="meals-container flex flex-wrap"
			[class.drag-cancel-margin]="showDragCancelButton$ | async"
		>
			<cb-meal
				[meal]="meal"
				[hasMargins]="true"
				*ngFor="let meal of meals$ | async; let mealIndex = index; trackBy: trackByFn"
				class="meal"
				[ngClass]="getMealAnimation()"
				[style.animation-delay]="getMealAnimationDelay(mealIndex)"
				(mealSaved)="scrollToMeal($event)"
				(isNext)="scrollToMeal($event)"
			></cb-meal>
		</div>

		<div
			class="drag-cancel"
			cdkDropList
			[cdkDropListData]="{ id: 'cancel' }"
			[class.show]="showDragCancelButton$ | async"
			(cdkDropListDropped)="onDrop()"
		>
			<button
				tuiIconButton
				type="button"
				icon="tuiIconCloseLarge"
				class="!rounded-full"
			></button>
		</div>
	</ng-container>

	<div class="flex p-4 absolute">
		@if (showMoumouEscapeHint$ | async) {
			<div class="moumou-escape-hint fade-in" [ngxVibration]="[100, 50, 100]">🐺 375</div>
		}
	</div>
</div>

@if (hasFamily$ | async) {
	<cb-idea-bag class="!fixed right-4 bottom-4"></cb-idea-bag>
}
