<div (tuiSwipe)="onSwipe($event)">
	<cb-week-navigation />

	<ng-container cdkDropListGroup>
		<div
			class="meals-container"
			fxLayout="row wrap"
			[class.drag-cancel-margin]="showDragCancelButton$ | async"
		>
			<cb-meal
				[meal]="meal"
				[hasMargins]="true"
				*ngFor="let meal of meals$ | async; let mealIndex = index; trackBy: trackByFn"
				class="meal"
				[ngClass]="getMealAnimation()"
				[style.animation-delay]="getMealAnimationDelay(mealIndex)"
				(mealSaved)="scrollToMeal($event)"
				(isNext)="scrollToMeal($event)"
			></cb-meal>
		</div>

		<div
			class="drag-cancel"
			cdkDropList
			[cdkDropListData]="{ id: 'cancel' }"
			[class.show]="showDragCancelButton$ | async"
			(cdkDropListDropped)="onDrop()"
		>
			<button mat-fab matTooltip="Annuler" matTooltipShowDelay="500">
				<mat-icon>cancel</mat-icon>
			</button>
		</div>
	</ng-container>
</div>

@if (showMoumouEscapeHint$ | async) {
	<div style="display: flex; margin-bottom: 30px">
		<div
			class="moumou-escape-hint fade-in"
			style="margin-left: 16px"
			[ngxVibration]="[100, 50, 100]"
		>
			🐺 375
		</div>
	</div>
}
