<div class="title">
	Planning de la semaine

	<div class="current-period">
		<ng-container *ngIf="(isThisWeek$ | async) === false">
			<a (click)="onCurrentPeriodClicked()" *ngIf="currentSchedule$ | async as schedule">
				du
				{{
					(scheduleOverlapsTwoMonths$ | async)
						? (schedule.from | date: 'd MMMM')
						: (schedule.from | date: 'd')
				}}
				au
				{{ schedule.to | date: 'd MMMM' }}
			</a>
		</ng-container>
	</div>
</div>

<div class="period-arrows-container">
	<button
		mat-icon-button
		color="primary"
		(click)="shiftSchedule('previous')"
		matTooltip="Semaine précédente"
		matTooltipPosition="right"
	>
		<mat-icon>navigate_before</mat-icon>
	</button>
	<button
		mat-icon-button
		color="primary"
		(click)="shiftSchedule('next')"
		matTooltip="Semaine suivante"
		matTooltipPosition="left"
	>
		<mat-icon>navigate_next</mat-icon>
	</button>
</div>
<ng-container cdkDropListGroup>
	<div
		class="meals-container"
		fxLayout="row wrap"
		[class.drag-cancel-margin]="showDragCancelButton$ | async"
	>
		<cb-meal
			[meal]="meal"
			*ngFor="let meal of meals$ | async; trackBy: trackByFn"
			class="meal"
			(mealSaved)="scrollToMeal($event)"
		></cb-meal>
	</div>

	<div
		class="drag-cancel"
		cdkDropList
		[cdkDropListData]="{ id: 'cancel' }"
		[class.show]="showDragCancelButton$ | async"
		(cdkDropListDropped)="onDrop()"
	>
		<button mat-fab matTooltip="Annuler" matTooltipShowDelay="500">
			<mat-icon>cancel</mat-icon>
		</button>
	</div>
</ng-container>
