<ng-container *tuiLet="data.recipe as recipe">
	<img
		[src]="constructAssetUrl(recipe.posterUrl || recipe.editorialPictureUrl)"
		class="rounded-2xl"
	/>
	<div style="padding: 0 10px">
		<div class="tui-text_h2">{{ recipe.title }}</div>
		<div class="tui-text_body-l">
			{{ recipe.description }}
		</div>

		<div class="aligner gap-4">
			<a tuiButton [href]="constructRecipeUrl(recipe._id)" target="_blank">
				Consulter sur Jow
			</a>

			@if (!data.isSelected) {
				<button tuiButton appearance="accent" (click)="addToMeal()">Ajouter au menu</button>
			}
		</div>

		<div class="separator"></div>

		<div class="ingredients">
			<div *ngFor="let constituent of recipe.constituents">
				<img
					[src]="constructAssetUrl(constituent.ingredient.imageUrl)"
					[alt]="constituent.ingredient.name"
				/>
				<div>
					{{ constituent.ingredient.name }}
				</div>
			</div>
		</div>
		<div class="properties" [style.color]="recipe.smartColor">
			<div matTooltip="Préparation">
				<mat-icon>blender</mat-icon>
				<div>
					{{ recipe.preparationTime + recipe.preparationExtraTimePerCover * 2 }}
					min
				</div>
			</div>
			<div matTooltip="Cuisson">
				<mat-icon>microwave</mat-icon>
				<div>{{ recipe.cookingTime }} min</div>
			</div>
		</div>
	</div>
</ng-container>
