:host {
	display: block;

	position: sticky;
	top: 56px;
	left: 0;
	z-index: 2;

	background: rgb(235 239 255 / 66%);
	backdrop-filter: blur(25px) brightness(1.2);

	@media (max-width: 599px) {
		box-shadow: 0 0 0 1px var(--tui-secondary);
		margin-top: 15px;
	}
	@media (min-width: 600px) {
		margin-top: 1rem;
		top: 20px;
		border: 1px solid var(--tui-secondary);
		border-radius: 25px;
	}
}

.period-arrows-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	z-index: 1;
}

.current-period {
	color: var(--tui-primary);
	font-weight: 200;
	font-size: 22px;
	cursor: pointer;
}
