<div mat-dialog-title>Mémo pour la recette</div>

<div mat-dialog-content>
	<mat-form-field appearance="fill" class="note-field">
		<mat-label>Note, lien vers la recette...</mat-label>
		<textarea
			matInput
			cdkTextareaAutosize
			cdkAutosizeMinRows="3"
			cdkAutosizeMaxRows="10"
			[(ngModel)]="data.content"
		></textarea>
	</mat-form-field>
</div>
<div mat-dialog-actions align="end">
	<button mat-button (click)="cancel()">Annuler</button>
	<button mat-raised-button color="primary" [mat-dialog-close]="data.content" cdkFocusInitial>
		Enregistrer
	</button>
</div>
