@use 'styles/theme';

@import 'styles/utilities';
@import 'styles/fonts';
@import 'styles/colors';
@import 'styles/animations';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	/*height: 100%;*/
}

html {
	@apply bg-light-400 dark:bg-dark-400;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

.main-container {
	@media (min-width: 600px) {
		padding: 0 5vw;
	}
	@media (min-width: 1024px) {
		margin: auto;
	}
}

.app-title {
	@apply font-bold text-[3rem] text-accent-400 dark:text-accent-500 text-center cursor-pointer;
	font-family: 'Dancing Script', cursive;
}

.page-title {
	font-size: 2em;
	margin: 0.67em 0;

	display: flex;

	button {
		margin-left: 2em;
	}
}

.hot-toast-checkmark-icon:after {
	border-color: white !important;
}

.firebase-emulator-warning {
	display: none;
}

.mat-tooltip-handset {
	margin: 12px 24px !important;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	@apply cursor-pointer hover:text-primary-400;
	cursor: pointer;
	transition: color 0.3s;
}

.mat-divider.inline {
	position: inherit !important;
	margin: 15px 0;
}

.header {
	@apply text-2xl pb-2 mb-4 mt-10 border-b;
}
