@import '~firebaseui/dist/firebaseui.css';

@import 'styles/utilities';
@import 'styles/fonts';

html,
body {
	/*height: 100%;*/
}

html {
	background-color: #fffef0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';

	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;*/

	@media (min-width: 600px) {
		padding: 0 5vw;
	}
	@media (min-width: 1024px) {
		margin: auto;
		max-width: 1024px;
	}
}

.firebase-emulator-warning {
	display: none;
}

.mat-tooltip-handset {
	margin: 12px 24px !important;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
