<div class="my-2" *ngIf="events$ | async as events; else loadingTpl">
	<div>{{ events.length }} events</div>
	<div class="flex flex-wrap items-start gap-2">
		<div
			*ngFor="let event of events"
			class="rounded p-2"
			[style.background-color]="event.calendar.backgroundColor"
			[style.color]="event.calendar.foregroundColor"
		>
			<div class="flex gap-3">
				<span>
					{{ event.start.dateTime | date: "HH'h'mm" }}
				</span>
				{{ event.summary }}
				<span class="border rounded px-1 py-0.5 text-sm">
					{{ event.end.dateTime | date: "HH'h'mm" }}
				</span>
			</div>
			<pre>{{ events | json }}</pre>
		</div>
	</div>
</div>
<button mat-button>Test</button>
<ng-template #loadingTpl> loading... </ng-template>
