<form [formGroup]="form" (ngSubmit)="saveMeal()">
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Nom du plat</mat-label>
		<input
			matInput
			placeholder="Poulet poivrons, huevos rotos..."
			formControlName="name"
			autocomplete="off"
			[disabled]="isReadonly"
			[matAutocomplete]="nameSuggestionsAutocomplete"
		/>
		<mat-autocomplete #nameSuggestionsAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of filteredNameSuggestion$ | async" [value]="option">
				{{ option }}
			</mat-option>
		</mat-autocomplete>
		<mat-icon matSuffix class="clear-icon" (click)="form.get('name')?.reset()">clear</mat-icon>
	</mat-form-field>

	<ng-container *ngIf="jowRecipe">
		<div
			class="selected-recipe-intro"
			[style.background-color]="jowRecipe.backgroundColor || 'grey'"
		>
			Recette sélectionnée
		</div>
		<mat-card class="selected-recipe">
			<div
				fxLayout="column"
				fxLayoutAlign="start center"
				[style.color]="jowRecipe.backgroundColor || 'grey'"
			>
				<img
					class="preview"
					[src]="jowService.constructAssetUrl(jowRecipe.imageUrl)"
					[alt]="jowRecipe.title"
					mat-ripple
					(click)="openRecipeModal(jowRecipe)"
				/>
				<div class="title">{{ jowRecipe.title }}</div>
				<div class="description">{{ jowRecipe.description }}</div>
				<div class="properties">
					<div matTooltip="Préparation">
						<mat-icon>blender</mat-icon>
						<div>
							{{
								jowRecipe.preparationTime +
									jowRecipe.preparationExtraTimePerCover * 2
							}}
							min
						</div>
					</div>
					<div matTooltip="Cuisson">
						<mat-icon>microwave</mat-icon>
						<div>{{ jowRecipe.cookingTime }} min</div>
					</div>
				</div>
			</div>
			<mat-card-actions class="actions">
				<button
					mat-raised-button
					type="button"
					(click)="openRecipeModal(jowRecipe)"
					[style.color]="jowRecipe.backgroundColor"
				>
					Voir plus
				</button>
				<button
					mat-icon-button
					type="button"
					title="Retirer la recette"
					[style.color]="jowRecipe.backgroundColor"
					(click)="onRecipeRemoved()"
					*ngIf="!isReadonly"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</ng-container>

	<mat-card *ngIf="!jowRecipe && !isReadonly">
		<mat-card-content>
			<div [fxLayoutAlign]="jowRecipe ? 'space-between center' : 'space-between start'">
				<mat-form-field appearance="standard" class="jow-recipe-search-field">
					<mat-label>
						<ng-container *ngIf="!jowRecipe">
							Rechercher une recette sur Jow
						</ng-container>
						<ng-container *ngIf="jowRecipe">
							Trouver une autre recette Jow
						</ng-container>
					</mat-label>
					<input
						matInput
						aria-label="State"
						[matAutocomplete]="auto"
						formControlName="searchTerm"
						placeholder="Mot-clé"
					/>
					<mat-icon matSuffix>
						<ng-container *ngIf="loadingSearchResults">
							<mat-spinner [diameter]="20"></mat-spinner>
						</ng-container>
						<ng-container *ngIf="!loadingSearchResults"> search </ng-container>
					</mat-icon>
					<mat-autocomplete
						#auto="matAutocomplete"
						[displayWith]="displayWithFn"
						(optionSelected)="onRecipeSelected($event.option.value)"
					>
						<mat-option
							*ngFor="let recipe of recipeSearchResults$ | async"
							[value]="recipe"
						>
							<img
								alt="Recipe preview"
								class="recipe-option-image"
								[src]="jowService.constructAssetUrl(recipe.imageUrl)"
							/>
							<span style="font-size: 14px">{{ recipe.title }}</span>
							<small *ngIf="recipe.difficulty >= 2">
								|
								<ng-container *ngForRepeat="recipe.difficulty">💪️</ng-container>
							</small>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<mat-icon
					svgIcon="jow"
					style="height: 32px; width: 32px; margin-left: 15px"
				></mat-icon>
			</div>
			<div *ngIf="!form.get('name')!.value" style="margin-top: 10px">
				<div style="font-size: medium; color: #737373; margin-bottom: 10px">
					Quelques idées de recettes
				</div>
				<ng-container
					*ngIf="alreadyUsedRecipeSuggestions$ | async as suggestions; else spinnerTpl"
				>
					<div
						class="suggestion-section"
						fxLayoutAlign="start stretch"
						fxLayoutGap="10px"
						*ngIf="suggestions.length"
					>
						<div
							class="suggestions"
							fxLayout="row wrap"
							fxLayoutAlign="center center"
							fxLayoutGap="10px"
						>
							<mat-chip-list>
								<mat-chip
									*ngFor="let recipe of suggestions"
									color="accent"
									selected
									(click)="openRecipeModal(recipe)"
									[style.background-image]="
										'url(\'' +
										jowService.constructAssetUrl(recipe.imageUrl) +
										'\')'
									"
									[style.background-color]="recipe.backgroundColor"
								>
									<div class="title">
										<div>{{ recipe.title }}</div>
										<div class="recipe-use-note">
											essayé {{ recipe.useCount }} fois
										</div>
									</div>
								</mat-chip>
							</mat-chip-list>
						</div>
						<div fxFlex="none" fxLayoutAlign="end center">
							<span>On remet ça</span>
						</div>
					</div>
				</ng-container>
				<div style="margin: 8px 0"></div>
				<div class="suggestion-section" fxLayoutAlign="start stretch" fxLayoutGap="10px">
					<div
						class="suggestions"
						fxLayout="row wrap"
						fxLayoutAlign="center center"
						fxLayoutGap="10px"
					>
						<mat-chip-list *ngIf="recipeIdeas$ | async as recipeIdeas; else spinnerTpl">
							<mat-chip
								*ngFor="let recipe of recipeIdeas"
								color="accent"
								selected
								(click)="openRecipeModal(recipe)"
								[style.background-image]="
									'url(\'' + jowService.constructAssetUrl(recipe.imageUrl) + '\')'
								"
								[style.background-color]="recipe.backgroundColor"
							>
								<div class="title">{{ recipe.title }}</div>
							</mat-chip>
						</mat-chip-list>
					</div>
					<div fxFlex="none" fxLayoutAlign="end center">
						<span>Nouvelles recettes</span>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<div
		class="memo"
		*ngIf="recipeMemo || meal?.recipeMemo"
		[innerHTML]="sanitizerService.render(recipeMemo || meal?.recipeMemo || '')"
		(click)="openNoteDialog()"
	></div>

	<div
		class="extras"
		fxLayout="column"
		fxLayoutAlign="start center"
		formGroupName="extras"
		[class.eyes-only-strict]="isReadonly"
	>
		<div>
			<mat-chip-list multiple>
				<mat-chip
					color="accent"
					(click)="toggleExtra('freezer')"
					[selected]="extrasFg.get('freezer')!.value"
				>
					Congel ❄️
				</mat-chip>
				<mat-chip
					color="accent"
					(click)="toggleExtra('croquettes')"
					[selected]="extrasFg.get('croquettes')!.value"
				>
					Croquettes 🐱
				</mat-chip>
			</mat-chip-list>
		</div>
		<div class="buttons" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<button
				mat-icon-button
				type="button"
				matTooltip="En dehors de la maison"
				[class.out-of-home-enabled]="extrasFg.get('outOfHome')!.value"
				(click)="extrasFg.get('outOfHome')!.setValue(!extrasFg.get('outOfHome')!.value)"
			>
				<mat-icon>location_city</mat-icon>
			</button>
			<button
				mat-icon-button
				type="button"
				*ngIf="!form.get('alternateDish')!.get('show')?.value"
				matTooltip="Ajouter un second plat"
				(click)="showAlternateDish()"
			>
				<mat-icon>restaurant_menu</mat-icon>
			</button>
			<button
				mat-icon-button
				type="button"
				*ngIf="!(recipeMemo || meal?.recipeMemo)"
				matTooltip="Ajouter un mémo"
				(click)="openNoteDialog()"
			>
				<mat-icon>edit_note</mat-icon>
			</button>
			<button
				mat-icon-button
				type="button"
				*ngIf="meal?.name"
				[class.enabled]="extrasFg.get('prepared')!.value"
				[matTooltip]="
					extrasFg.get('prepared')!.value
						? 'Marquer comme non préparé'
						: 'Marquer comme préparé'
				"
				(click)="extrasFg.get('prepared')!.setValue(!extrasFg.get('prepared')!.value)"
				[ngxVibration]="[10, 200, 50, 100, 50]"
			>
				<mat-icon>task_alt</mat-icon>
			</button>
		</div>
	</div>

	<div
		class="alternate-dish"
		*ngIf="form.get('alternateDish')!.get('show')?.value"
		fxLayout="column"
		fxLayoutAlign="start center"
		formGroupName="alternateDish"
	>
		<mat-divider></mat-divider>
		<mat-form-field appearance="fill" class="width-100">
			<mat-label>Nom du second plat</mat-label>
			<input
				matInput
				placeholder="Poulet poivrons, huevos rotos..."
				formControlName="name"
				[disabled]="isReadonly"
			/>
			<mat-icon
				matSuffix
				class="clear-icon"
				(click)="form.get('alternateDish')?.get('name')?.reset()"
			>
				clear
			</mat-icon>
		</mat-form-field>
	</div>

	<div fxLayoutAlign="center" class="actions form-actions" *ngIf="!isReadonly">
		<button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
			Enregistrer mon menu
		</button>
	</div>
</form>

<ng-template #spinnerTpl>
	<mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
