<div class="page-title">
	Mes préférences
	<button mat-icon-button color="primary" routerLink="/">
		<mat-icon fontSet="material-icons-round">home</mat-icon>
	</button>
</div>
<form [formGroup]="form" (ngSubmit)="save()">
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Jour de début de semaine</mat-label>
		<select matNativeControl formControlName="startWeekOn">
			<option [value]="weekday.value" *ngFor="let weekday of weekdays">
				{{ weekday.label | titlecase }}
			</option>
		</select>
	</mat-form-field>
	<button mat-raised-button color="primary" type="submit">Enregistrer</button>
</form>
