<div class="page-title">
	Mes préférences
	<button mat-icon-button color="primary" routerLink="/">
		<mat-icon fontSet="material-icons-round">home</mat-icon>
	</button>
</div>

<h2 class="header">Général</h2>
<form [formGroup]="form" (ngSubmit)="save()">
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Jour de début de semaine</mat-label>
		<select matNativeControl formControlName="startWeekOn">
			<option [value]="weekday.value" *ngFor="let weekday of weekdays">
				{{ weekday.label | titlecase }}
			</option>
		</select>
	</mat-form-field>
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Ville pour la météo</mat-label>
		<input matInput type="text" formControlName="city" autocomplete="address-level2" />
	</mat-form-field>
	<button mat-raised-button color="primary" type="submit">Enregistrer</button>
</form>

<h2 class="header">Famille</h2>
<form [formGroup]="familyForm" (ngSubmit)="joinFamily(familyForm.value)">
	<mat-form-field appearance="fill" class="width-100">
		<mat-label>Créer ou rejoindre une famille</mat-label>
		<input matInput formControlName="name" placeholder="Nom de ma famille" />
	</mat-form-field>
	<button
		mat-raised-button
		color="primary"
		type="submit"
		*ngIf="(userData$ | async)?.familyName !== familyForm.get('name')?.value"
		[disabled]="familyForm.invalid"
	>
		Rejoindre
	</button>
</form>

<ng-container *ngIf="userData$ | async as userData">
	<mat-progress-spinner
		mode="indeterminate"
		[diameter]="25"
		style="margin: 10px"
		*ngIf="loadingSubject.asObservable() | async"
	></mat-progress-spinner>
	<div class="family-container" *ngIf="userData.familyName">
		<div>
			Ma famille : <span class="family-name">{{ userData.familyName }}</span>
		</div>

		<div *ngIf="!userData.isAllowedInFamily" class="pending-family-access">
			En attente d'approbation du chef de famille
		</div>
		<ng-container *ngIf="isManager$ | async">
			🐺 Vous êtes le chef de la famille

			<ng-container *ngIf="pending$ | async as pendingList">
				<div class="pending-list" *ngIf="pendingList.length">
					<div
						fxLayout="row wrap"
						fxLayoutAlign="start center"
						*ngFor="let pendingUid of pendingList"
					>
						<div fxLayoutAlign="start" style="margin: 10px 20px 10px 0">
							<mat-icon style="color: #3f51b5">new_releases</mat-icon>
							<div>Une personne souhaiterait rejoindre la famille</div>
						</div>
						<div fxLayoutAlign="center center" fxLayoutGap="10px">
							<button
								mat-raised-button
								color="warn"
								(click)="denyPending(userData.familyName, pendingUid)"
							>
								Ignorer
							</button>
							<button
								mat-raised-button
								color="primary"
								(click)="approvePending(userData.familyName, pendingUid)"
							>
								Accepter
							</button>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</ng-container>
